<style>
.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn {
  margin-right: 10px;
}

.mapping .mappingControls {
  visibility: hidden;
}
.mapping:hover .mappingControls {
  visibility: inherit;
}

.field .fieldControls {
  visibility: hidden;
}
.field:hover .fieldControls {
  visibility: inherit;
}
</style>

<script type="text/ng-template" id="mapping_subpart.html">
  <div ui-tree-handle class="mapping">
    <a class="btn btn-xs"
       ng-show="mapping.type == 'mappingType'">
      <i class="glyphicon glyphicon-file"></i></a>
    <span ng-if="mapping.type == 'mappingType'">
      <span ng-if="mapping.name == null">
        <i>default</i>
      </span>
      <span ng-if="mapping.name != null">
        <span ng-show="!mapping.editing">{{mapping.name}}</span>
        <input type="text" placeholder="please enter a type name"
               ng-show="mapping.editing"
               ng-model="mapping.name"/>
      </span>
    </span>
    <span ng-if="mapping.type != 'mappingType'">
      {}
      <span ng-show="!mapping.editing">{{mapping.name}}</span>
      <input type="text" placeholder="please enter a property name"
             ng-show="mapping.editing"
             ng-model="mapping.name"/>
      <span ng-show="mapping.nameError">{{mapping.nameError}}</span>
    </span>
    <span class="mappingControls" ng-if="!editing">
      <a ng-if="mapping.name != null"
         class="pull-right btn btn-xs btn-danger"
         data-nodrag
         ng-click="removeMapping(this)">
         <i class="glyphicon glyphicon-remove"></i></a>
      <a class="pull-right btn btn-xs btn-warning"
         data-nodrag
         ng-click="addChildMapping(mapping)">
         <i class="glyphicon glyphicon-plus"></i></a>
      <a class="pull-right btn btn-xs"
         data-nodrag
         ng-click="addChildField(mapping)">
         <i class="glyphicon glyphicon-plus"></i></a>
      <a class="pull-right btn btn-xs btn-edit"
         data-nodrag
         ng-click="editAttr(mapping, 'name')">
         <i class="glyphicon glyphicon-pencil"></i></a>
    </span>
    <span class="mappingControlsEditing" ng-if="editing == mapping">
      <a class="pull-right btn btn-xs"
         data-nodrag
         ng-click="editAttrDone(mapping, 'name', false)">
         <i class="glyphicon glyphicon-remove"></i></a>
      <a class="pull-right btn btn-xs"
         data-nodrag
         ng-click="editAttrDone(mapping, 'name', true)">
         <i class="glyphicon glyphicon-ok"></i></a>
    </span>
  </div>
  <ol ui-tree-nodes
      ng-model="mapping.fields"
      data-type="fieldContainer"
      ng-class="{hidden: collapsed}">
    <li ng-repeat="field in mapping.fields"
        ui-tree-node>
      <div ui-tree-handle class="field">
        <span ng-show="!field.editing">{{field.name}}</span>
        <input type="text" placeholder="please enter a field name"
               ng-show="field.editing"
               ng-model="field.name"/>
        <span ng-show="field.nameError">{{field.nameError}}</span>
        [property: {{field.property}}]
        <span class="fieldControls" ng-if="!editing">
          <a class="pull-right btn btn-xs btn-danger"
             data-nodrag
             ng-click="removeField(this)">
             <i class="glyphicon glyphicon-remove"></i></a>
          <a class="pull-right btn btn-xs btn-edit"
             data-nodrag
             ng-click="editAttr(field, 'name')">
             <i class="glyphicon glyphicon-pencil"></i></a>
        </span>
        <span class="fieldControlsEditing" ng-if="editing == field">
          <a class="pull-right btn btn-xs"
             data-nodrag
             ng-click="editAttrDone(field, 'name', false)">
             <i class="glyphicon glyphicon-remove"></i></a>
          <a class="pull-right btn btn-xs"
             data-nodrag
             ng-show="field.editing"
             ng-click="editAttrDone(field, 'name', true)">
             <i class="glyphicon glyphicon-ok"></i></a>
        </span>
      </div>
    </li>
  </ol>
  <ol ui-tree-nodes
      ng-model="mapping.mappings"
      data-type="mappingContainer"
      ng-class="{hidden: collapsed}">
    <li ng-repeat="mapping in mapping.mappings"
        ui-tree-node ng-include="'mapping_subpart.html'">
    </li>
  </ol>
</script>

<div class="row">
  <div class="col-sm-12">
    <h3>Mapping</h3>
    <a ng-click="addChildMapping(null)">[+TYPE]</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div ui-tree="options" id="tree-root">
      <ol ui-tree-nodes
          ng-model="mappings"
          data-type="mappingTypeContainer">
        <li ng-repeat="mapping in mappings"
            ui-tree-node ng-include="'mapping_subpart.html'"></li>
      </ol>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="info">
      {{info}}
    </div>
    <pre class="code">{{ mappings | json }}</pre>
  </div>
</div>
