<div class="row">
  <div class="col-sm-12">
    <a ng-show="!showIndexMapping"
       ng-click="showIndexMapping = true">
      <i class="glyphicon glyphicon-chevron-right"></i></a>
    <a ng-show="showIndexMapping"
       ng-click="showIndexMapping = false">
      <i class="glyphicon glyphicon-chevron-down"></i></a>
    <label>Index Mapping</label>
  </div>
</div>

<div class="indexMapping" ng-show="showIndexMapping">
  <div class="row">
    <div class="col-sm-12">
      <a ng-click="addChildMapping(null)">[+TYPE]</a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div ng-include="type_mapping_html"></div>
    </div>
  </div>
</div>

<!-- ======================================================= -->

<div class="row">
  <div class="col-sm-12">
    <a ng-show="!showAnalyzers"
       ng-click="showAnalyzers = true">
      <i class="glyphicon glyphicon-chevron-right"></i></a>
    <a ng-show="showAnalyzers"
       ng-click="showAnalyzers = false">
      <i class="glyphicon glyphicon-chevron-down"></i></a>
    <label>Analyzers</label>
  </div>
</div>

<div class="analyzers" ng-show="showAnalyzers">
  <div class="row">
    <div class="col-sm-12">
      analyzers here
    </div>
  </div>
</div>

<!-- ======================================================= -->

<div class="row">
  <div class="col-sm-12">
    <a ng-show="!showFilters"
       ng-click="showFilters = true">
      <i class="glyphicon glyphicon-chevron-right"></i></a>
    <a ng-show="showFilters"
       ng-click="showFilters = false">
      <i class="glyphicon glyphicon-chevron-down"></i></a>
    <label>Custom Filters</label>
  </div>
</div>

<div class="filters" ng-show="showFilters">
  <div class="row">
    <div class="col-sm-12">
      filters here
    </div>
  </div>
</div>

<!-- ======================================================= -->

<div class="row">
  <div class="col-sm-12">
    <pre class="code">{{ mappings | json }}</pre>
  </div>
</div>
